*.log
*.asv
*.tex
*.mat
*.avi
Data/Hafiz_ICASSP_HiC_RNAseq_data.zip
Data/Hafiz_ICASSP_HiC_RNAseq_data/*
*.tif
Projects/WoundHealing/Line-TR6.zip
Shared/kgmoments.tar.gz
Projects/KroneckerHypergraphPaper/3CAnalysis/HipHop2HG/*.txt
Projects/KroneckerHypergraphPaper/BigFit/adjLists/*
